#module-credits-export-dialog .dialog-content {
  h3 {
    font-size: var(--font-size-20);
    margin: 0 0 0.5rem;
    font-weight: normal;
  }

  textarea {
    width: 100%;
    white-space: pre;
  }
}
