@import "../../node_modules//tippy.js/dist/tippy.css" layer(tippy);

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* CSS magic for flex-wrap                                            */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
@keyframes block-detection {
  from {
    --is-block-start: initial;
    --no-block-start: ;
  }
  to {
    --is-block-end: initial;
    --no-block-end: ;
  }
}

@keyframes inline-detection {
  from {
    --is-inline-start: initial;
    --no-inline-start: ;
  }
  to {
    --is-inline-end: initial;
    --no-inline-end: ;
  }
}

.flexrow {
  --is-block-start: ;
  --no-block-start: initial;
  --is-block-end: ;
  --no-block-end: initial;
  --is-inline-start: ;
  --no-inline-start: initial;
  --is-inline-end: ;
  --no-inline-end: initial;
}

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* Module Management                                                  */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
#module-management {
  .window-content > p.hint {
    display: none;
  }

  .package-list .package .tag.unknown {
    min-width: auto;
  }

  .module-credits-big-picture-mode {
    top: 0px !important;
    height: 100vh !important;

    .window-content {
      display: flex;
      flex-direction: column;

      > p.hint {
        display: none;
        flex: 0;
        min-height: auto;
      }

      .package-list {
        flex: 1;
        height: auto;
        /* max-height: calc(100vh - 115px); */
      }
      /* > footer.flexrow {
        bottom: 0px;
        left: 0px;
        padding: 8px;
        position: absolute;
        width: 100%;
      } */
    }
  }

  search.flexrow {
    a.filter {
      display: none;
    }

    button {
      border: 1px solid var(--color-border-light-primary);
      border-radius: 0px;
      border-right-width: 0px;
      flex: 0 0 32px;
      height: 30px;
      margin: 0px;
    }

    input[type="search"]:first-child,
    button:first-of-type:not(:last-of-type) {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    button:last-of-type {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border-right-width: 1px;
    }

    input,
    select {
      border: 1px solid var(--color-border-light-primary);
      border-radius: 0px;
      border-right-width: 0px;
      height: 30px;
    }

    select {
      flex: 0;
    }
  }

  footer {
    button {
      white-space: nowrap;
    }

    button[name="rollback"] {
      flex: 0;
      i {
        margin-right: 0px;
      }
    }
  }

  .package-list {
    &:not(.expanded) .package .package-description:not(.hidden) {
      display: revert;
    }
    /* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
    /* CENTER TAG ICONS */
    .package .package-overview {
      max-width: 100%;

      .package-title {
        flex-wrap: nowrap;

        .title-group {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .title {
            max-width: 100%;
          }
        }
      }

      .expand {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0rem;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid var(--color-border-light-primary);
        color: var(--button-text-color);
        margin: 0px;
        margin-bottom: -5px;
        margin-top: -5px;
        margin-left: 6px;
        margin-right: 0px !important;

        i {
          font-size: var(--font-size-11);
          margin: 0px;
        }
      }

      .tag-container {
        justify-content: end;
        gap: 0.25rem;

        .tag {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: none;
          gap: 2px;
          height: 1.25rem;
          background: var(--color-cool-4);
          border: 1px solid var(--color-cool-3);
          border-radius: 2px;
          padding: 0 0.25rem;
          font-size: var(--font-size-12);
          color: var(--color-light-2);

          &:not(.badge) {
            font-size: 0rem;
          }

          i {
            font-size: var(--font-size-11);
          }

          &.badge {
            text-shadow: 1px 1px var(--color-dark-2);

            &.success,
            &.safe,
            &.verified {
              background: var(--color-level-success-bg);
              border-color: var(--color-level-success-border);
            }

            &.neutral {
              background: var(--color-dark-3);
              border-color: var(--color-dark-5);
            }

            &.warning {
              background: var(--color-level-warning-bg);
              border-color: var(--color-level-warning-border);
              color: var(--color-light-1);
            }

            &.error {
              background: var(--color-level-error-bg);
              border-color: var(--color-level-error-border);
            }

            i {
              padding-right: 0.25rem;
            }
          }

          /* GIVE NEW TAGS COLORS */
          &.authors {
            background-color: var(--palette-teal-500, rgb(0 150 136));
            color: var(--palette-teal-500-contrast-text, rgb(255 255 255));

            &:hover {
              background-color: var(--palette-teal-700, rgb(51 201 187));
              color: var(--palette-teal-700-contrast-text, rgb(255 255 255));
              cursor: var(--cursor-pointer);
            }
          }

          &.css {
            background: #1e5c6f;
          }

          &.javascript {
            background: #803c62;
          }

          &.compendium {
            background: #3b3a80;
          }

          &.languages {
            background: #224224;
          }

          &.readme {
            background-color: var(--palette-deep-purple-500, rgb(108 46 196));
            color: var(
              --palette-deep-purple-500-contrast-text,
              rgb(255 255 255)
            );

            &:hover {
              background-color: var(--palette-deep-purple-300, rgb(159 97 247));
              color: var(
                --palette-deep-purple-300-contrast-text,
                rgb(255 255 255)
              );
              cursor: var(--cursor-pointer);
            }
          }

          &.changelog {
            background-color: var(--palette-blue-500, rgb(15 121 233));
            color: var(--palette-blue-500-contrast-text, rgb(255 255 255));

            &:hover {
              background-color: var(--palette-blue-700, rgb(66 172 255));
              color: var(--palette-blue-700-contrast-text, rgb(255 255 255));
              cursor: var(--cursor-pointer);
            }
          }

          &.issues {
            background-color: var(--palette-red-500, rgb(255 59 22));
            color: var(--palette-red-500-contrast-text, rgb(255 255 255));
            text-decoration: none;

            &:hover {
              background-color: var(--palette-red-700, rgb(255 110 73));
              color: var(--palette-red-700-contrast-text, rgb(255 255 255));
              cursor: var(--cursor-pointer);
            }
          }

          &.unknown {
            background: #b07900;
            min-width: 50px;
          }

          &.settings {
            background-color: var(--palette-green-500, rgb(76 175 80));
            color: var(--palette-green-500-contrast-text, rgb(0 0 0));

            &:hover {
              background-color: var(--palette-green-700, rgb(56 142 60));
              color: var(--palette-green-700-contrast-text, rgb(0 0 0));
              cursor: var(--cursor-pointer);
            }
          }

          &.website {
            background-color: var(--palette-purple-500, rgb(72, 0, 254));
            color: var(--palette-purple-500-contrast-text, rgb(255 255 255));
            text-decoration: none;

            &:hover {
              background-color: var(--palette-purple-700, rgb(84, 39, 197));
              color: var(--palette-purple-700-contrast-text, rgb(255 255 255));
              cursor: var(--cursor-pointer);
            }
          }

          &.unavailable {
            background: #750000;
          }

          &.requires {
            position: relative;
            top: -2px;
          }

          /* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
          /* ORDER TAGS */
          &.author {
            order: 1;
          }

          &.css {
            order: 2;
          }

          &.javascript {
            order: 3;
          }

          &.compendium {
            order: 4;
          }

          &.languages {
            order: 5;
          }

          &.readme {
            order: 6;
          }

          &.changelog {
            order: 7;
          }

          &.issues {
            order: 8;
          }

          &.socket {
            order: 9;
          }

          &.library {
            order: 10;
          }

          &.unknown {
            order: 11;
          }

          &.website {
            order: 12;
          }

          &.settings {
            order: 13;
          }

          &.badge {
            order: 14;
            margin-right: 0px !important;
          }
        }
      }
    }
  }

  .module-credits-tippy-authors {
    list-style: none;
    margin: 0px;
    margin-bottom: -5px;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -5px;
    padding: 0px;

    li {
      &.author,
      a,
      div {
        align-items: center;
        color: #fff;
        display: flex;
        justify-content: start;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
      }

      &.author {
        background-color: rgba(255, 255, 255, 0.1);
      }

      i {
        padding-right: 0.25rem;
      }
    }
  }
}

#module-credits-dialog {
  &.sheet.journal-entry .sidebar {
    .action-buttons {
      justify-content: space-between;

      button.create {
        margin: 0.5rem;
      }
    }
  }

  .directory .directory-header .header-search input {
    margin: 0 0.5rem;
  }

  /* .window-content {
    .dialog-content ul li {
      &:first-child {
        font-weight: bold;
      }

      > *:first-child {
        flex: 0 1 50px;
      }

      div:nth-child(2) {
        flex: 1;
        text-align: left;
      }

      > label {
        flex: 1;
        font-weight: bold;
        text-align: left;
      }
    }

    .dialog-buttons {
      flex: 0 1;
    }
  } */
}

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* Settings Config                                                    */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
#settings-config {
  .categories .tab .form-group label i {
    padding-right: 0.25rem;
    &.fa-lock,
    &.fa-unlock,
    &.fa-arrows-rotate {
      cursor: var(--cursor-pointer);
    }

    &[data-action="lock"] + [data-action="sync"] {
      display: none;
    }
  }
  &.module-credits-hide-filter-options
    .window-content
    aside[data-application-part="sidebar"] {
    display: none;
  }
}

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* Conflicts                                                          */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
.module-credits-tooltip-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;

  li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    &:last-of-type {
      border-width: 0px;
      margin: 0px;
      padding: 0px;
    }
  }
}

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* IMPORT                                                             */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
#module-credits-import-dialog .window-content {
  .dialog-content ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px -8px;
    max-height: 496px;
    overflow-y: overlay;

    &#module-credits-import-header li {
      border-bottom-width: 2px;
    }

    li {
      align-items: center;
      border-bottom: 1px solid var(--color-border-light-primary);
      display: flex;
      min-height: 35px;
      padding: 0px 8px;

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.03);
      }

      > * {
        display: flex;
        flex: 1;
        align-items: center;
      }

      > input[type="checkbox"] {
        margin: 0px;
      }

      input[name="import-toggle-modules"],
      input[name="import-module"] {
        flex: 0 1 50px;
      }

      label[for="import-toggle-client-settings"],
      label[for="import-toggle-world-settings"],
      label[for="import-settings-client"],
      label[for="import-settings-world"] {
        align-items: center;
        flex: 0 1 75px;
        justify-content: end;
      }

      .tag {
        background-color: var(--color-border-dark);
        border-radius: 3px;
        color: var(--color-text-light-highlight);
        font-size: 0.6rem;
        padding: 0.15rem 0.25rem;
        margin-left: 0.5rem;
      }
    }
  }

  .dialog-buttons {
    border-top: 1px solid var(--color-border-light-primary);
    flex: 0 1;
    padding: 8px 8px 0px;
    margin: 0px -8px;

    label.keep-enabled {
      align-items: center;
      display: flex;
      font-size: var(--font-size-14);
      font-family: var(--font-primary);
      line-height: 28px;
      margin: 0 1px;
      width: 100%;
    }
  }
}

#module-credits-preset-dialog {
  #module-credits-presets-header,
  #module-credits-presets-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  #module-credits-presets-header li {
    border-bottom: 1px solid var(--color-border-light-primary);
    font-size: var(--font-size-14);
    font-weight: 600;
  }

  #module-credits-presets-list {
    max-height: 177px;
    overflow-y: auto;

    li {
      border-bottom: 1px solid var(--color-border-light-primary);
      display: flex;
      padding: 0.25rem 0px;

      label {
        align-self: center;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      button {
        border-radius: 0px;
        border-right-width: 0px;
        flex: 0 0 30px;
        margin: 0px;
        text-align: center;

        &:first-of-type {
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
        }

        &:last-of-type {
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          border-right-width: 1px;
        }

        i {
          margin: 0px;
        }
      }
    }
  }
}
.dialog {
  input[name="module-credits-preset-title"] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }
  input[name="module-credits-preset-title"] + textarea {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-width: 0px;
    border-color: var(--color-border-light-tertiary);
  }
}

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* SETTINGS TAB                                                       */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
#settings {
  section.info div.system-links {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    overflow: hidden;

    a {
      flex: 1;
      background: var(--color-cool-5-50);
      border: 1px solid var(--color-light-5);
      text-transform: uppercase;
      font-size: var(--font-size-12);
      padding: 0.25rem;
      height: 2rem;
      align-content: center;
      text-align: center;

      animation:
        block-detection linear forwards,
        block-detection linear reverse backwards,
        inline-detection linear forwards,
        inline-detection linear reverse backwards;

      animation-timeline: view(), view(), view(inline), view(inline);

      animation-range:
        exit 0 exit 4px,
        contain 0 contain 4px,
        exit 0 exit 4px,
        contain 0 contain 4px;

      border-start-start-radius: var(
        --is-block-start,
        var(--is-inline-start, 3px)
      );
      border-end-start-radius: var(--is-block-end, var(--is-inline-start, 3px));
      border-start-end-radius: var(--is-block-start, var(--is-inline-end, 3px));
      border-end-end-radius: var(--is-block-end, var(--is-inline-end, 3px));
      border-top-style: var(--is-block-start, solid);
      border-right-style: var(--is-inline-end, solid);

      &:hover {
        background-color: var(--color-warm-2);
        color: var(--color-light-1);
        border-color: var(--color-light-3);
      }

      i {
        margin: 0px;
      }

      &:first-of-type:last-of-type {
        font-size: var(--font-size-12);

        i {
          margin-right: 0.25rem;
        }
      }
    }
  }

  section.settings button[data-app="modules"] small {
    &:before {
      content: "(";
    }

    &:after {
      content: ")";
    }

    .modules-count-total:before {
      content: " / ";
    }
  }

  .notification-pip.update {
    margin-right: 0.25rem;
  }
}

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* BETTER DEPENDENCIES                                                */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
.module-credits-dependencies {
  list-style: none;
  margin: 0px;
  padding: 0px;

  li {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    padding: 0.25rem 0rem;

    &.module-credits-dependencies-header {
      background-color: rgba(0, 0, 0, 0.3);

      h3 {
        border-bottom: 0px;
        margin: 0px;
        padding: 0px 0.5rem;
      }
    }

    label {
      cursor: var(--cursor-pointer);
      flex: 1;
      padding: 0rem 0.25rem;
    }
  }
}

/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* BUG REPORTER REPORT CONFLICT                                       */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
#bug-report {
  label.wide {
    align-items: end;
    display: flex;
    justify-content: space-between;

    button[data-action="toggle"] {
      border: 1px solid var(--color-border-dark);
      border-radius: 3px 3px 0px 0px;
      flex: 0;
      margin-bottom: -1px;
    }

    + textarea {
      border-top-right-radius: 0px;
    }
  }

  .module-credits-bug-reporter-preview {
    width: 100%;
    min-height: 50px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-dark);
    border-radius: 3px;
    border-top-right-radius: 0px;
    overflow: auto hidden;
  }
}
